.reasons {
  margin: 100px 0 100px 0;
  &__inner {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  &__block {
    width: 321px;
    margin-bottom: 100px;
  }
  &__text {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #808080;
    margin-top: 40px;
  }
  &__svg {
    display: flex;
    justify-content: center;
    height: 197px;
  }

  &__button {
    background: #00A5CD;
    border-radius: 5px;
    width: 373px;
    height: 108px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
}